<form novalidate name="formulario" class="row" ng-submit="submeter()">
	<div class="col-md-6">
		<div class="form-group">
			<label>Destino</label>
			<input name="destino" class="form-control" ng-model="hospedagem.destino" required>

			<span ng-show = "formulario.$submitted && formulario.destino.$error.required" 
				class="form-control alert-danger">
				Destino obrigatória
			</span> 
        </div>
        <div class="form-group">
			<label>Data Entrada</label>
			<input name="data_entrada" class="form-control" ng-model="hospedagem.data_entrada" required>

			<span ng-show = "formulario.$submitted && formulario.data_entrada.$error.required" 
				class="form-control alert-danger">
				Data Entrada obrigatória
			</span> 
        </div>
        <div class="form-group">
			<label>Data Saida</label>
			<input name="data_saida" class="form-control" ng-model="hospedagem.data_saida" required>

			<span ng-show = "formulario.$submitted && formulario.data_saida.$error.required" 
				class="form-control alert-danger">
				Data Saida obrigatória
			</span> 
        </div>
        <div class="form-group">
			<label>Tipo</label>
			<input name="tipo" class="form-control" ng-model="hospedagem.tipo" required>

			<span ng-show = "formulario.$submitted && formulario.tipo.$error.required" 
				class="form-control alert-danger">
				Tipo obrigatória
			</span> 
		</div>

		<button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">
			Salvar
		</button>
		<a href="/" meu-focus class="btn btn-primary">Voltar</a>
		<hr>
	</div>
	<div class="col-md-6">
		<minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
	</div>
</form>