<p ng-hide="hospedagems.length" class="alert alert-info">
	{{mensagem}}
</p>

<div class="row">
	<div class="col-md-12">
		<form>
			<div class="input-group">
				<span class="input-group-btn">
					<a href="/#/hospedagems/cadastro" class="btn btn-primary" type="button">
						Nova reserva
					</a>
				</span>
				<input class="form-control" placeholder="filtrar pelo destino da reserva" 
					ng-model="filtro" ng-model-options="{ debounce: 500 }">
		</form>
	</div> <!-- fim col-md-12 -->
</div> <!-- fim row -->

</br>
</br>

<div class="row">
	<div class="col-md-12">
			<table class="table table-hover">
				<thead>
					 <tr>
						<th>#</th>
						<th>Destino</th>
						<th>Data entrada</th>
						<th>Data saida</th>
						<th>Tipo</th>
						<th>Valor</th>
						<th>Excluir</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="hospedagem in hospedagems | filter: filtro">
						<th>{{hospedagem._id}}</th>
						<th>{{hospedagem.destino}}</th>
						<th>{{hospedagem.data_entrada}}</th>
						<th>{{hospedagem.data_saida}}</th>
						<th>{{hospedagem.tipo}}</th>
						<th>{{hospedagem.valor}}</th>
						<th><button ng-click="remover(hospedagem)" type="button" class="btn btn-danger btn-sm">Excluir</button></th>
					</tr>
				</tbody>
			</table>
	</div>
</div>